*{
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box; 
}

@media (min-width: 0px){
    body{
        background-color:#EBEBEB;
    }

    /* Estilos del header*/
    header{
        font-size: 12px;
        background-color: #EAC926;
        height: 20em;
    }
    
    div#nav-section{
        
        padding: 20px;
    }

    .log-search{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;        
    }
    
    img#logo{
        width: 45%;
    }

    input#search{
        height: 3em;
        width: 50%;
        border-radius: 5px;
        border-style: none;
        padding: 10px;
    }

    .fa-search{
        position: absolute;
        padding: 10px;
        pointer-events: none;
    }

    div#abajo{
        padding-left: 25px;
    }

    nav{
        display: none;
    }
    
    p#encabezado{
        display: inline-block;
        text-align: center;
    }
    
    /*Estilos del body*/
    p.titulares{
        font-size: 24px;
    }

    a.link-menu{
        text-decoration:none;
        color: black;
        display:inline-block;
    }
    
    div.burger-menu{
        background-color: #03264C;
        color: white;
        width: 50px;
        height: 50px;
        border-radius: 10%;
        left:45%;
        position: relative;
        display: inline-block;
        text-align: center;
        padding-top: 10px; 
        bottom: 10px;
    }
    
    
    .fa-bars:before {
        content: "\f0c9";
        padding-top: 10px;
        font-size: 30px;
    }
    
    footer{
        text-align: center;
        font-size: 12px;
    }
    
    i.azule{
        color: #0d4785;
        font-size: 2em;
    }
    
    section.centrando{
        padding: 25px;
    }
    
    img.banner{
        width: 100%;  
    }

    main{
        width: 90%;
        margin: auto;
    }

    main section article i{
        display: block;
        font-size: 16px;
        padding: 5px;
        width: 30px;
        height: 30px;
        border: 1px solid #39b54a;
        background-color: #FFF;
        border-radius: 50%;
        position: absolute;
        right: 20px;
        top: -15px;
    }
    
    div.producto{
        margin: 10px;
        background-color: white;
    }
    
    div.detalles-producto{
        border-top: solid #ebebeb 1px;
        padding: 15px;
        display: block;
        position: relative;
    }

    div.valores{
        margin-bottom: 1em;
        display: flex;
    }

    p.precio{
        font-size: 18px;
        flex-grow: 0.3;
    }
    
    img.imagen-size{
        width: 100%;
    }

    i.fa-truck, p.p-verdoso{
        color: #66C26E;
    }
    
    p.p-verdoso{
        font-size: 16px;
        flex-grow: 0.7;
    }

    div.circuli{
        display: block;
        font-size: 16px;
        padding: 5px;
        width: 30px;
        height: 30px;
        border: 1px solid #39b54a;
        background-color: #FFF;
        border-radius: 50%;
        position: absolute;
        right: 20px;
        top: -15px;
    }
}

@media (min-width: 768px){
    div.producto{
        box-shadow:  0px 0px 10px rgb(100, 100, 100);
        flex-grow: 0.5;
    }
    
    nav{
        display: inline-block;
    }
    
    p.description{
        display: inline-block;
    }

    header{
        font-size: 12px;
        background-color: #EAC926;
        height: 400px;
    }
    
    div.burger-menu{
        display: none;
    }
    
    div.bloque-productos{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    div.producto{
        flex-grow: unset;
        width: 45%;
    }
}

@media (min-width: 1280px){
    div.producto{
        box-shadow:  0px 0px 10px rgb(100, 100, 100);
    }

    div.bloque-productos{
    flex-wrap: nowrap;
    }
}